.gradle/
.gradle-user-home/
.tools/
build/
run/
reference/
*.log
.idea/
*.iml
dist/*.jar
dist/*.zip
verification/**/*.log
verification/*console*.txt
verification/*threads*.txt
verification/sodium-fix/
